<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- All keys and values are case sensitive -->
    <add key="FirstnameFieldName" value="Navn"/>
    <add key="LastnameFieldName" value="Efternavn"/>
    <add key="UserEmail" value="fcaleads@autoit.dk"/>
    <add key="UserPassword" value="Auto12345!"/>
  </appSettings>
</configuration>